fastapi
uvicorn
gunicorn
sqlalchemy
alembic
psycopg2-binary
slowapi
python-dotenv
pyjwt
passlib
bcrypt==4.0.1
python-multipart
email-validator

joblib
numpy
pandas
scikit-learn
boto3
jose
python-jose[cryptography]
uvicorn[standard]
requests>=2.31.0
geopy